<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>StudyJSP2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!--
   web.xml(배포 서술자) : 프로젝트의 시작점
   프로젝트 전역에 적용될 설정을 작성 (*주의 : 오타 주의)
   여기서는 오타를 쳐도 컴파일 에러가 안나기 때문에
   -->
  
  
  <!-- html 주석을 사용가능하나 주석은 가능하면 적을수록 좋음 -->
  <!-- 
  <error-page>
  	<error-code>404</error-code>
	<location>
		/error/code404.jsp
	</location>  
  </error-page>

  <error-page>
  	<error-code>500</error-code>
	<location>
		/error/code500.jsp
	</location>  
  </error-page>
   -->
  
</web-app>